.clear {clear:both;}
.left {float:left;margin:15px 0 0 0;}
.right {float:right;margin:15px 0 0 0;}
.important-text {color:#000000;text-decoration:underline;}
a:link, a:visited, a:active {color:#2C3839;text-decoration:none;opacity:1;}
a:hover {color:#2C3839;text-decoration:none;}
a.current {padding-bottom:3px;border-bottom:1px solid #f66d52;}
h1 {padding:43px 0 8px 0;margin:0;color:#69a7ae;border-bottom:2px solid #ffffff; font-size:1.4em;clear:both;font-weight:normal;}
h2 {padding:5px 5px 15px 5px;margin:0;font-size:1.5em;color:#69a7ae;font-weight:normal;clear:both;line-height:25px;}
h3 {padding:0 0 0 0;margin:0;font-size:1.5em;color:#69a7ae;font-weight:normal;clear:both;}
h4 {padding:15px 0 5px 0;margin:0 0 8px 0;font-size:1.2em;color:#69a7ae;font-weight:normal;border-bottom:2px solid #ffffff;clear:both;}
img, object {max-height:100%;max-width:100%;}
p {padding: 0px 0 0px 0; margin:0;}
.divider {width:99%;height:2px;border-bottom:2px solid #ffffff; margin: 15px 0 15px 0;padding:0;clear:both;}
video {right:0;bottom:0;min-width:100%;min-height:100%;line-height:1em;background:#000000;-moz-border-radius: 5px;border-radius: 5px;}
image {right:0;bottom:0;min-width:100%;min-height:100%;background:#000000;width:650;height:410;}
.title {text-align:left;margin-left:40px;margin-right:40px;}
.summary {text-align:left;margin-left:50px;margin-right:70px;max-width:600px;font-size:1.0em;line-height:20px;}
.txttle {text-align:left;margin-left:40px;margin-right:60px;max-width:650px;font-size:1.1em;line-height:20px;font-family: 'URW Palladio L'; color:#293035;}
.txtsum {text-align:left;margin-left:40px;margin-right:60px;max-width:650px;font-size:1.2em;line-height:20px;font-family: 'URW Palladio L'; color:#1D262B;}
.txttradsum {text-align:left;margin-left:80px;max-width:550px;float:left;font-size:1.0em;line-height:20px;color:#3F4E32;background:#EDF7E1;padding:20px;-moz-box-sizing: border-box;box-sizing:border-box;}
body {margin:0;padding:0;background:#FFFFFF;font-family: 'Comfortaa', 'Century Gothic', Arial;font-size:90%;line-height:1.6em;letter-spacing:.5px;color:#646D71;font-weight:normal;}


