Source: idiomind-addons
Section: x11
Priority: optional
Maintainer: Robin Palatnik <robinpalat@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://idiomind.sourceforge.net
Vcs-Browser: https://github.com/robinpalat/idiomind-addons
Vcs-Git: https://github.com/robinpalat/idiomind-addons.git

Package: idiomind-addons
Architecture: all
Depends: ${misc:Depends}, idiomind, rsync, xsltproc, eyed3, mp3splt, mp3wrap
Enhances: idiomind
Description: Idiomind addons
 .
 Idiomind is a vocabulary learning tool based on shell scripts and YAD (GUI)